*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(35, 35, 35);
}
h1{
    color: white;
    text-align: center;
    margin: 40px;
    font-size: 60px;
}
.grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    background-color: #353535;
    color: white;
    width: 418px;
    height: 634px;
    border-radius: 50px;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px;
}
input{
    overflow: hidden;
    outline: none;
    color:white;
    text-align: end;
    padding-right: 20px;
    font-size: 60px;
    border:none;
    background-color: #626262;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 135px;
    grid-column-start: 1;
    grid-column-end : 5;
    border-radius: 40px;
    box-shadow: 5px 0px 4px #4d4d4d inset , 0px 4px 4px #4d4d4d inset;
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #454545;
    border-radius: 50%;
    height: 70px;
    border: none;
    color: white;
    box-shadow: 0px 2px 4px #706B6B;
}
.grid-item:nth-last-child(1){
    box-shadow: 0px 2px 4px #fe9729;
    background-color: rgb(255, 119, 0);
}
.grid-item:hover{
    transform: scale(0.95);
    box-shadow: 0px 0px 4px #706B6B;
    background-color: rgb(103, 103, 103);
}
.grid-item:nth-last-child(1):hover{
    transform: scale(0.95);
    box-shadow: 0px 0px 4px #da7a30;
    background-color: rgb(255, 152, 83);
}